@import "../../index";

main {
    display: flex;
    justify-content: space-around;
    // flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    
    @media screen and (min-width: $medium){
        
    }

    article {
        // display: flex;
        margin: 20px 0px;
        border: solid red;
        background-color: $primary-color;
        border-radius: 8px;
        overflow: hidden;
        text-align: center;

        section {
            .blog-image {
                // width: clamp(300px, 40vw, 400px );
                width: 400px;
            }
        }
    }
}